.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  opacity: 0;
  transition: opacity 0.3s ease-out;

  &__group {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  &__name {
    font-weight: bold;
    margin: 0 0 10px;
  }

  &__date {
    color: var(--main);
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0 0 3rem;
    text-align: center;
  }

  &__dialog-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__time {
    bottom: rem;
    font-size: 0.9rem;
    position: absolute;
    right: 1rem;

    .chat__dialog--image & {
      background-color: var(--main);
      border-radius: 10px;
      color: var(--white);
      overflow: hidden;
      padding: 0.1rem 0.4rem;
    }
  }

  &__dialog {
    align-self: flex-start;
    background-color: var(--board);
    border-radius: 3px;
    color: var(--black);
    font-size: 1.2rem;
    margin: 0 0 1rem;
    max-width: 40rem;
    min-width: 11rem;
    padding: 1rem 1rem 2rem;
    position: relative;

    &.--me {
      align-self: flex-end;
      background-color: var(--lightBg);
      text-align: right;
    }

    &--image {
      background: none;
      padding: 0;
    }
  }
}
