.button {
  background-color: var(--main);
  border: none;
  border-radius: 3px;
  color: var(--white);
  cursor: pointer;
  display: block;
  font-size: 1.3rem;
  line-height: 1.7rem;
  margin: 0;
  padding: 1rem 3rem;
  text-align: center;
  transition: background-color var(--hoverTime) ease-in-out;
  width: 100%;

  &:hover {
    background-color: var(--mainHover);
  }

  &:active {
    background-color: var(--main);
  }

  &:focus {
    outline-color: var(--error);
  }

  &--red {
    background-color: var(--error);

    &:hover {
      background-color: var(--errorHover);
    }

    &:active {
      background-color: var(--error);
    }
  }

  &--grey {
    background-color: var(--lightBg);
    color: var(--black);

    &:hover {
      background-color: var(--board);
    }

    &:active {
      background-color: var(--lightBg);
    }
  }

  &--mini {
    border-radius: 40px;
    font-size: 1.2rem;
    line-height: 1;
    padding: 0.6rem 1.4rem;
    width: auto;
  }
}
