.profile-field {
	display: flex;
	flex-direction: row-reverse;
	font-size: 1.3rem;
	justify-content: space-between;
	line-height: 1;
	padding: 1rem 0;
	position: relative;

	&__label {
		margin: 0;
	}

	&__error {
		color: var(--error);
		font-size: 13px;
		position: absolute;
		top: 108%;
	}

	&__input {
		background: none;
		border: none;
		font-family: 'Noto Sans';
		margin: 0;
		padding: 0;
		text-align: right;
		width: 50%;

		&--name {
			background: none;
			border: none;
			display: block;
			font-family: 'Noto Sans';
			font-size: 1.6rem;
			line-height: 1;
			margin: 0 auto;
			padding: 0;
			text-align: center;
		}

		&:active,
		&:focus {
			outline: none;
		}

		&:read-only + label {
			cursor: auto;
		}

		&:focus,
		&:active {
			&:read-only {
				outline: none;
			}
		}
	}
}
