.profile-field {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 1.3rem;
  line-height: 1;
  padding: 1rem 0 1rem;

  &__label {
    margin: 0;
  }

  &__error {
    position: absolute;
    color: var(--error);
    top: 108%;
    font-size: 13px;
  }

  &__input {
    font-family: "Noto Sans";
    width: 50%;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: right;

    &--name {
      font-family: "Noto Sans";
      display: block;
      margin: 0 auto;
      font-size: 1.6rem;
      line-height: 1;
      text-align: center;
      background: none;
      padding: 0;
      border: none;
    }

    &:active,
    &:focus {
      outline: none;
    }

    &:read-only + label {
      cursor: auto;
    }

    &:focus,
    &:active {
      &:read-only {
        outline: none;
      }
    }
  }
}
