.error {
	color: var(--white);
	text-align: center;

	&__title {
		font-size: 6rem;
		font-weight: normal;
		font-weight: 400;
		line-height: 50px;
		margin: 0 0 4rem;
	}

	&__text {
		font-size: 2.4rem;
		font-weight: 400;
		line-height: 2rem;
		margin: 0 0 7rem;
	}

	&__link {
		color: var(--link);
		display: block;
		font-size: 2rem;
		line-height: 1;
		text-decoration: none;
		transition: color var(--hoverTime) ease-in;

		&:hover {
			color: var(--white);
		}

		&:focus {
			outline-color: var(--error);
		}
	}
}
