.modal {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition: opacity var(--hoverTime) ease-in-out;
	width: 100%;
	z-index: 3;

	&.is-shown {
		opacity: 1;
		pointer-events: all;
	}

	&__milk {
		background: rgba(73, 73, 73, 0.3);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	&__box {
		background-color: var(--tooltipBg);
		border-radius: 3px;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
		min-width: 40rem;
		padding: 3rem 4rem;
		position: relative;
		z-index: 2;
	}

	&__title {
		color: var(--black);
		font-size: 1.8rem;
		font-weight: normal;
		line-height: 1;
		margin: 0 0 3rem;
		text-align: center;
	}

	&__button {
		width: 15.5rem;
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
	}
}
