.field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  label {
    color: var(--grey);
    font-size: 1.3rem;
    left: 0;
    line-height: 1;
    padding: 0 0 1rem;
    position: absolute;
    top: 1rem;
    transition: font-size 0.2s ease-in-out, transform 0.2s ease-in-out;
    width: 100%;
  }

  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--purple-border);
    font-family: 'Noto Sans';
    font-size: 1.3rem;
    line-height: 1;
    padding: 0.7rem 0;
    width: 100%;

    &:active,
    &:focus {
      outline: none;
    }

    &:active + label,
    &:focus + label,
    &.is-value + label {
      font-size: 0.9rem;
      transform: translateY(-1.5rem);
    }

    &.is-error {
      color: var(--error);
    }
  }

  &__error {
    color: var(--error);
    min-height: 23px;
    padding: 7px 0 0;

    .field--search & {
      min-height: 0;
    }
  }

  &--search {
    svg {
      height: 2.4rem;
      left: 0.8rem;
      position: absolute;
      top: 0.3rem;
      width: 2.4rem;
    }

    label {
      left: 3.5rem;
      width: auto;
    }

    input {
      padding-left: 3.5rem;

      &:active + label,
      &:focus + label,
      &.is-value + label {
        font-size: 1.3rem;
        opacity: 0;
        transform: none;
      }
    }
  }
}
