.messenger {
  display: flex;
  height: 100%;

  &__chat {
    height: 100%;
    overflow: scroll;
    //Hide scrollbar
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__board {
    width: 31rem;
    flex-shrink: 0;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    padding: 0 2rem;
  }

  &__empty {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1;
    color: var(--main);
  }
}
