{% extends 'templates/base.twig' %}

{% block title %}Messenger - 404
{% endblock %}

{% block page %}
	<main class="dark centered-content">
		<div class="error">
			<h1 class="error__title">404</h1>
			<p class="error__text">Не туда попали</p>
			<a href="/" class="error__link js-focus-visible">Назад к чатам</a>
		</div>
	</main> 
{% endblock %}
