{% extends 'templates/base.twig' %}

{% block title %}Messenger - 500
{% endblock %}

{% block page %}
	<div class="dark centered-content">
		<div class="error">
			<h1 class="error__title">500</h1>
			<p class="error__text">Не туда попали</p>
			<a href="/" class="error__link">Назад к чатам</a>
		</div>
	</div> 
{% endblock %}
