{% extends 'templates/base.twig' %}

{% block title %}Messenger - Login
{% endblock %}

{% block page %}
	<div class="dark centered-content ">
		<div class="entry-box">
			<h1 class="entry-box__title">Статика:</h1>
			<ol class="index-links">
                <li><a href="/404.html">404</a></li>
                <li><a href="/500.html">500</a></li>
                <li><a href="/login.html">Логин</a></li>
                <li><a href="/registration.html">Регистрация</a></li>
                <li><a href="/profile.html">Профиль</a></li>
                <li><a href="/profile-edit.html">Профиль - редактирование</a></li>.
                <li><a href="/messenger_default.html">Мессенджер</a></li>
                <li><a href="/messenger_empty.html">Мессенджер - без сообщений</a></li>
                <li><a href="/messenger_modal.html">Мессенджер - модальное окно</a></li>
                <li><a href="/messenger_tooltips.html">Мессенджер - тултипы</a></li>
                <li><a href="/messenger_rename.html">Мессенджер - переименование чата</a></li>
               
            </ol>

		</div>		
	</div> 
{% endblock %}