{% extends 'templates/base.twig' %}

{% block title %}Messenger
{% endblock %}

{% block page %}
{% set renameClass = 'is-shown' %}
{% set modalClass = '' %}
{% set tooltipsClass = '' %}
    <div class="light full-screen">
        <div class="messenger">
            {% include 'templates/includes/messages-board.twig' %}
            <div class="messenger__content">
                {% include 'templates/includes/header.twig' %}
                {% include 'templates/includes/chat.twig' %} 
                {% include 'templates/includes/footer.twig' %}

            </div>
        </div>
        {% include 'templates/includes/modal.twig' %}    
    </div>
{% endblock %}