{% extends 'templates/base.twig' %}

{% block title %}Profile
{% endblock %}

{% block page %}	
	<div class="light full-screen">
		<div class="profile">
			<aside class="profile__aside">
                <a class="profile__back-link" href="/messenger_default.html">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="14" cy="14" r="14" fill="#40375C"/>
                        <rect x="8" y="13.2" width="11" height="1.6" fill="white"/>
                        <path d="M15 9L19 14L15 19" stroke="white" stroke-width="1.6"/>
                    </svg>
                </a>
            </aside>			
            <main class="profile__content">
                <div class="profile__form">
                    <div class="profile__avatar" for="avatar">
                        <img width="176" height="176" src="assets/images/avatar.jpg" alt="avatar"/>
                    </div>
                    <p class="profile__name-field">Евгений</p>
                
                    <ul class="profile__field-list">
                        <li class="profile__field">
                            <p class="profile__field-input">mail@inbox.com</p>
                            <p class="profile__field-label">Почта</p>
                            
                        </li>
                        <li class="profile__field">
                            <p class="profile__field-input">username</p>
                            <p class="profile__field-label">Логин</p>                            
                        </li>
                    </ul>                       
                    
                    <a class="profile__edit-link js-focus-visible" href="/profile-edit.html">Изменить данные</a>
                    <a class="profile__exit-link js-focus-visible" href="/messenger_default.html">Выйти</a>
                </div>  
            </main>
		</div>		
	</div> 
{% endblock %}
