.tooltip {
	background-color: var(--tooltipBg);
	border-radius: 12px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
	opacity: 0;
	padding: 1.5rem;
	pointer-events: none;
	position: absolute;
	transition: opacity var(--hoverTime) ease-in-out;

	&.is-shown {
		opacity: 1;
		pointer-events: all;
	}

	&--bottom-left {
		bottom: 6rem;
		left: 1rem;
	}

	&--top-right {
		right: 1rem;
		top: 6rem;
	}
}
