<main class="messenger__chat chat">
    <article class="chat__group">
        <h2 class="chat__date">
            <time dateTime="2020-07-19">19 июля</time>
        </h2>
        <div class="chat__dialog-list">
            <article class="chat__dialog">
                <p>Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то
                    момент
                    попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем
                    что
                    астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще
                    находятся на
                    поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.</p>

                <p>Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они
                    так
                    никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на
                    аукционе
                    за 45000 евро.</p>
                <footer class="chat__time">
                    <time dateTime="2020-07-19 11:56">11:56</time>
                </footer>
            </article>
            <article class="chat__dialog chat__dialog--image">
                <img class="chat__image" alt="dialog-image" src="assets/images/dialog-image.jpg" />
                <footer class="chat__time">
                    <time dateTime="2020-07-19 11:56">11:56</time>
                </footer>
            </article>
            <article class="chat__dialog --me">
                <p>Круто</p>
                <footer class="chat__time">
                    <svg width="11" height="5" viewBox="0 0 11 5" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <line y1="-0.5" x2="3.765" y2="-0.5"
                            transform="matrix(0.705933 0.708278 -0.705933 0.708278 0.700195 2.33301)"
                            stroke="#40375C" />
                        <line y1="-0.5" x2="5.6475" y2="-0.5"
                            transform="matrix(0.705933 -0.708278 0.705933 0.708278 3.3584 5)"
                            stroke="#40375C" />
                        <line y1="-0.5" x2="5.6475" y2="-0.5"
                            transform="matrix(0.705933 -0.708278 0.705933 0.708278 6.01611 5)"
                            stroke="#40375C" />
                    </svg>
                    <time dateTime="2020-07-19 11:56">11:56</time>                
                </footer>
            </article>
        </div>
    </article>
    <article class="chat__group">
        <h2 class="chat__date">
            <time dateTime="2020-07-19">19 июля</time>
        </h2>
        <div class="chat__dialog-list">
            <article class="chat__dialog">
                <p>Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то
                    момент
                    попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем
                    что
                    астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще
                    находятся на
                    поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.</p>

                <p>Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они
                    так
                    никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на
                    аукционе
                    за 45000 евро.</p>
                <footer class="chat__time">
                    <time dateTime="2020-07-19 11:56">11:56</time>
                </footer>
            </article>
            <article class="chat__dialog chat__dialog--image">
                <img class="chat__image" alt="dialog-image" src="assets/images/dialog-image.jpg" />
                <footer class="chat__time">
                    <time dateTime="2020-07-19 11:56">11:56</time>
                </footer>
            </article>
            <article class="chat__dialog --me">
                <p>Круто</p>
                <footer class="chat__time">
                    <svg width="11" height="5" viewBox="0 0 11 5" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <line y1="-0.5" x2="3.765" y2="-0.5"
                            transform="matrix(0.705933 0.708278 -0.705933 0.708278 0.700195 2.33301)"
                            stroke="#40375C" />
                        <line y1="-0.5" x2="5.6475" y2="-0.5"
                            transform="matrix(0.705933 -0.708278 0.705933 0.708278 3.3584 5)"
                            stroke="#40375C" />
                        <line y1="-0.5" x2="5.6475" y2="-0.5"
                            transform="matrix(0.705933 -0.708278 0.705933 0.708278 6.01611 5)"
                            stroke="#40375C" />
                    </svg>
                    <time dateTime="2020-07-19 11:56">11:56</time>                
                </footer>
            </article>
        </div>
    </article>
    <article class="chat__group">
        <h2 class="chat__date">
            <time dateTime="2020-07-19">19 июля</time>
        </h2>
        <div class="chat__dialog-list">
            <article class="chat__dialog">
                <p>Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то
                    момент
                    попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем
                    что
                    астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще
                    находятся на
                    поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.</p>

                <p>Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они
                    так
                    никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на
                    аукционе
                    за 45000 евро.</p>
                <footer class="chat__time">
                    <time dateTime="2020-07-19 11:56">11:56</time>
                </footer>
            </article>
            <article class="chat__dialog chat__dialog--image">
                <img class="chat__image" alt="dialog-image" src="assets/images/dialog-image.jpg" />
                <footer class="chat__time">
                    <time dateTime="2020-07-19 11:56">11:56</time>
                </footer>
            </article>
            <article class="chat__dialog --me">
                <p>Круто</p>
                <footer class="chat__time">
                    <svg width="11" height="5" viewBox="0 0 11 5" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <line y1="-0.5" x2="3.765" y2="-0.5"
                            transform="matrix(0.705933 0.708278 -0.705933 0.708278 0.700195 2.33301)"
                            stroke="#40375C" />
                        <line y1="-0.5" x2="5.6475" y2="-0.5"
                            transform="matrix(0.705933 -0.708278 0.705933 0.708278 3.3584 5)"
                            stroke="#40375C" />
                        <line y1="-0.5" x2="5.6475" y2="-0.5"
                            transform="matrix(0.705933 -0.708278 0.705933 0.708278 6.01611 5)"
                            stroke="#40375C" />
                    </svg>
                    <time dateTime="2020-07-19 11:56">11:56</time>                
                </footer>
            </article>
        </div>
    </article>
</main>