<div class="modal {{ modalClass }}">
    <div class="modal__milk js-milk"></div>
    <div class="modal__box">
        <div class="delete-dialog">
            <h3 class="delete-dialog__title">Вы хотите удалить чат</h3>
            <div class="delete-dialog__buttons">
                <button class="button button--red delete-dialog__button js-focus-visible">Удалить</button>
                <button class="button button--grey delete-dialog__button js-focus-visible">Отменить</button>
            </div>
        </div>
    </div>
</div>